In [1]:
def square(): # < - Function Heeader
    new_value = 4**2 
    print(new_value) 

square()

16

In [2]:
def square(value): # < - Function Heeader
    new_value = value**2 
    print(new_value) 

square(4)

16

In [3]:
square(5)

25

In [5]:
def raise_to_power(value1, value2): 
    """Raise value1 to the power of value2.""" 
    new_value = value1 ** value2 
    return new_value

In [6]:
result = raise_to_power(2, 3) 

print(result)

8

In [7]:
even_nums = (2, 4, 6) 

print(type(even_nums))

<class 'tuple'>

In [8]:
a, b, c = even_nums

print(a) 

print(b) 

print(c)

2
4
6

In [9]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa.""" 

    new_value1 = value1 ** value2 
    new_value2 = value2 ** value1

    new_tuple = (new_value1, new_value2) 

    return new_tuple

In [10]:
result = raise_both(2, 3) 

print(result)

(8, 9)

In [ ]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa.""" 

    new_value1 = value1 ** value2 
    new_value2 = value2 ** value1 

    new_tuple = (new_value1, new_value2) 

    return new_tuple

In [11]:
# Import pandas
import pandas as pd 

# Import Twitter data as DataFrame: df
df = pd.read_csv('tweets.csv')

# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = df['lang']

# Iterate over lang column in DataFrame
for entry in col:

    # If the language is in langs_count, add 1 
    if entry in langs_count.keys():
        langs_count[entry] += 1 
    # Else add the language to langs_count, set the value to 1
    else:
        langs_count[entry] = 1

# Print the populated dictionary
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [13]:
# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result = count_entries(df, 'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}